{% extends 'base/default_page.html' %}

{% block meta %}
	<meta name="keywords" content="обо мне, о Васе Пупкине, биография Василия Пупкина, любимый Вася" />
	<meta name="description" content="Информация о Василие Пупкине" />
{% endblock meta %}

{% block title %}
	{{ "Обо мне любимом" | capitalize | escape | trim }}
{% endblock title %}

{% block nav_links %}
	<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href='/index/' title="Перейти на главную страницу">Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link not-active text-danger" href='/about/'>О&nbsp;Васе&nbsp;Пупкине</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href='/contact/' title="Перейти на страницу Связаться с Васей">Связаться&nbsp;с&nbsp;Василием</a>
			</li>
		</ul>
	</div>
{% endblock nav_links %}

{% block h1 %}
	{{ "Обо мне любимом" | escape | trim | upper }}
{% endblock h1 %}

{% block content %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<img src='../static/images/photo.jpg' class="rounded-circle mx-auto d-block img-fluid w-50" title="Вася Пупкин" alt='Вася Пупкин' />
		<article class="biography">
			{% if flag == False %}
				<h3>{{ "Файл пустой или не существует !" | trim }}</h3>
			{% else %}
				<h3>История</h3>
				{{ history | safe }}
				<h3>{{ "Вася Пупкин в интернет-культуре !" | trim }}</h3>
				{{ ethernet | safe }}
			{% endif %}
		</article>
	</div>
{% endblock content %}

{% block footer %}
	{{ "Василий Пупкин 2020-2021" | escape | trim }}&nbsp;&copy;
{% endblock footer %}