{% extends 'base/default_page.html' %}

{% block meta %}
	<meta name="keywords" content="Связаться с Василием Пупкиным, контакты Васи Пупкина, написать Васе" />
	<meta name="description" content="Связаться с Василием Пупкиным" />
{% endblock meta %}

{% block title %}
	{{ "Связаться с Василием" | capitalize | escape | trim }}
{% endblock title %}

{% block nav_links %}
	<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link text-white" href='/index/' title="Перейти на главную страницу">Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href='/about/' title="Перейти на страницу о Васе">О&nbsp;Васе&nbsp;Пупкине</a>
			</li>
			<li class="nav-item">
				<a class="nav-link not-active text-danger" href='/contact/'>Связаться&nbsp;с&nbsp;Василием</a>
			</li>
		</ul>
	</div>
{% endblock nav_links %}

{% block h1 %}
	{{ "Связаться с Василием Пупкиным" | escape | trim | upper }}
{% endblock h1 %}

{% block content %}
	{% if message %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			{% if flag == True %}
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% else %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endif %}
		</div>
	{% endif %}
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<form name="contact_form" action="" method="POST">
			<div class="input-group mb-3">
				<label class="input-group-text" id="basic-addon1">
					<i class="bi bi-person-fill"></i>
				</label>
				<input type="text" class="form-control" name="fio_text" minlength="3" maxlength="30" placeholder="Фамилия *" aria-label="Фамилия *" aria-describedby="basic-addon1" required>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" id="basic-addon2">
					<i class="bi bi-person-fill"></i>
				</label>
				<input type="text" class="form-control" name="name_text" minlength="3" maxlength="30" placeholder="Имя *" aria-label="Имя *" aria-describedby="basic-addon2" required>
			</div>
			<div class="input-group mb-3">
				<label class="input-group-text" id="basic-addon3">
					<i class="bi bi-envelope-fill"></i>
				</label>
				<input type="email" class="form-control" name="email_text" minlength="3" maxlength="30" placeholder="E-mail *" aria-label="E-mail *" aria-describedby="basic-addon3" required>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<label class="input-group-text" for="inputGroupSelect01">
						<i class="bi bi-question-diamond-fill"></i>
					</label>
				</div>
				<select class="custom-select" id="inputGroupSelect01" name="subject_text" required>
					<option value="" selected disabled>Тема&nbsp;сообщения&nbsp;*&nbsp;...</option>
					<option value="Тема сообщения 1">Тема&nbsp;сообщения&nbsp;1</option>
					<option value="Тема сообщения 2">Тема&nbsp;сообщения&nbsp;2</option>
					<option value="Тема сообщения 3">Тема&nbsp;сообщения&nbsp;3</option>
					<option value="Тема сообщения 4">Тема&nbsp;сообщения&nbsp;4</option>
					<option value="Тема сообщения 5">Тема&nbsp;сообщения&nbsp;5</option>
					<option value="Тема сообщения 6">Тема&nbsp;сообщения&nbsp;6</option>
				</select>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text">
						<i class="bi bi-chat-square-text-fill"></i>
					</span>
				</div>
				<textarea class="form-control" rows="6" cols="50" name="message_text" maxlength="255" placeholder="Сообщение *" aria-label="Сообщение" required></textarea>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
						<input type="checkbox" value="1" name="post_email_text" aria-label="Checkbox for following text input" id="post_email">
					</div>
				</div>
				<label class="form-control" for="post_email">&nbsp;Получать&nbsp;ответ&nbsp;по&nbsp;E-mail</label>
			</div>
			<div class="group_button">
				<button type="submit" class="btn btn-outline-primary">Отправить&nbsp;сообщение</button>
				<button type="reset" class="btn btn-outline-danger">Очистить&nbsp;форму</button>
			</div>
		</form>
	</div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 mean_container">
		{% for row in results | sort(attribute='id', reverse = True) %}
			<div class="card">
				<div class="card-header">{{ "Запись №" }}{{ row.id }}{{ " от " }}{{ row.date }}</div>
				<div class="card-body">
					<h5 class="card-title">{{ row.fio_text }} {{ row.name_text }}</h5>
					<p class="card-text">
						<span>{{ "E-mail: " }}{{ row.email_text }}</span><br>
						<span>{{ "Тема: " }}<b>{{ row.subject_text }}</b></span><br>
						<span>{{ row.message_text }}</span><br>
						<span>{{ "Получать ответ по E-mail: " }}{{ row.post_email_text }}</span>
					</p>
				</div>
			</div>
		    <br>
		{% endfor %}
	</div>
{% endblock content %}

{% block footer %}
	{{ "Василий Пупкин 2020-2021" | escape | trim }}&nbsp;&copy;
{% endblock footer %}