{% extends 'base/default_page.html' %}

{% block meta %}
	<meta name="keywords" content="достижения, Вася Пупкин, шаги Василия" />
	<meta name="description" content="Достижения в ходьбе Василия Пупкина" />
{% endblock meta %}

{% block title %}
	{{ "Достижения в ходьбе" | capitalize | escape | trim }}
{% endblock title %}

{% block nav_links %}
	<div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link not-active text-danger" href='/index/'>Главная</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href='/about/' title="Перейти на страницу о Васе">О&nbsp;Васе&nbsp;Пупкине</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href='/contact/' title="Перейти на страницу Связаться с Васей">Связаться&nbsp;с&nbsp;Василием</a>
			</li>
		</ul>
	</div>
{% endblock nav_links %}

{% block h1 %}
	{{ "Достижения Василия Пупкина" | escape | trim | upper }}
{% endblock h1 %}

{% block content %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		{% if flag == False %}
			<h3>{{ "Файл пустой или не существует !" | trim }}</h3>
		{% else %}
			<div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
				<table class="table table-hover table-borderless">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Дата</th>
							<th scope="col">Количество пройденых шагов</th>
							<th scope="col">Время проведенное в спортивном зале</th>
						</tr>
					</thead>
					<tbody>
						{% for row in results %}
							{% if row.id % 2 != 0 %}
								<tr class="table-primary">
									<th scope="row">{{ row.id }}</th>
									<td>{{ row.date }}</td>
									<td>{{ row.count_steps }}</td>
									<td>{{ row.time_in_gym }}</td>
								</tr>
							{% else %}
								<tr class="table-info">
									<th scope="row">{{ row.id }}</th>
									<td>{{ row.date }}</td>
									<td>{{ row.count_steps }}</td>
									<td>{{ row.time_in_gym }}</td>
								</tr>
							{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock content %}

{% block footer %}
	{{ "Василий Пупкин 2020-2021" | escape | trim }}&nbsp;&copy;
{% endblock footer %}